font-face {
    font-family: 'robotoblack';
    src: url('/disesa/assets/fonts/Robot/roboto-black-webfont.eot');
    src: url('/disesa/assets/fonts/Robot/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('/disesa/assets/fonts/Robot/roboto-black-webfont.woff2') format('woff2'), url('/disesa/assets/fonts/Robot/roboto-black-webfont.woff') format('woff'), url('/disesa/assets/fonts/Robot/roboto-black-webfont.ttf') format('truetype'), url('/disesa/assets/fonts/Robot/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/disesa/assets/fonts/Robot/roboto-bold-webfont.eot');
    src: url('/disesa/assets/fonts/Robot/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/disesa/assets/fonts/Robot/roboto-bold-webfont.woff2') format('woff2'), url('/disesa/assets/fonts/Robot/roboto-bold-webfont.woff') format('woff'), url('/disesa/assets/fonts/Robot/roboto-bold-webfont.ttf') format('truetype'), url('/disesa/assets/fonts/Robot/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/disesa/assets/fonts/Robot/roboto-medium-webfont.eot');
    src: url('/disesa/assets/fonts/Robot/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/disesa/assets/fonts/Robot/roboto-medium-webfont.woff2') format('woff2'), url('/disesa/assets/fonts/Robot/roboto-medium-webfont.woff') format('woff'), url('/disesa/assets/fonts/Robot/roboto-medium-webfont.ttf') format('truetype'), url('/disesa/assets/fonts/Robot/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/disesa/assets/fonts/Robot/roboto-regular-webfont.eot');
    src: url('/disesa/assets/fonts/Robot/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/disesa/assets/fonts/Robot/roboto-regular-webfont.woff2') format('woff2'), url('/disesa/assets/fonts/Robot/roboto-regular-webfont.woff') format('woff'), url('/disesa/assets/fonts/Robot/roboto-regular-webfont.ttf') format('truetype'), url('/disesa/assets/fonts/Robot/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Estilo Encabezado*/
.ColorHeader {
    background: black;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

/*Estilo Pie de pagina*/
.footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
}



.negra {
    font-family: 'robotoblack'!important;
}

.regular {
    font-family: 'robotoregular'!important;
}

.mediana {
    font-family: 'robotomedium'!important;
}

.bold {
    font-family: 'robotobold'!important;
}


#AUsuario {
    height: 80%;
}

#Acceder {
    border: 1px solid #fff;
    margin-top: 20px;
    font-family: 'robotoblack';
    font-size: 14px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#Acceder:hover{
    background-color: #fff;
    border: 1px solid #59BA47;
    color: black;
}

#Acceder span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#Acceder span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#Acceder:hover span {
  padding-right: 25px;
}

#Acceder:hover span:after {
  opacity: 1;
  right: 0;
}

#imgLogo {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

#contenedorL {
   background: white ;
    background: url(/uni_dashboard/assets/img/fondo_login-03.png) #59BA47 ;
    background-image: no-repeat;
    background-image:fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.detallesFactura {
    cursor: pointer;
}

.detallesFacturOrange {
    color: #3f51b5!important;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.demo-layout .demo-header .mdl-textfield {
    padding: 0px;
    margin-top: 41px;
}

#informeFactura {
    height: 50%!important;
}

.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
    bottom: 19px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: #ffffff;
    text-align: center;
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.demo-drawer {
    border: none;
    overflow-x: hidden;
    overflow-y: scroll!important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}


/* iOS Safari specific workaround */

.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}


/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 100px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

/*LOGIN CONTROLES*/
.login-input {
    margin-top: 15px!important;
    height: 30px!important;    
    border: 1px solid white!important;
    background: white!important;
    color: black!important;
    font-size: 12px!important;
    border-radius: 3px!important;
    padding: 0!important;
    text-align: left!important;
    padding-left: 10px!important
}

.btn-login {
    width: 50%;
    height: 33px!important;
    border-radius: 3px!important;
    margin-top: 15px!important;
    
}

ul.slides li {
    padding: 0px 0px 0px 0px;
}

#_footer {
   position:fixed;
   text-align: center;
   left: 0px;
   bottom:0px;
   height:25px;
   width:100%;
   font-size: 11px;
   background-color: #bdbdbd !important;
   padding: 0px 10px 35px 0px;
   background: #000000;
   opacity: 0.4;
}

#_footer p{
    text-align: center;
    color: #000000!important;
    font-family: sans-serif;
}

/*FIN LOGIN CONTROLES*/

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background: rgba(134, 111, 213, 0.5);
    color: #fff;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    /*color: rgba(255, 255, 255, 0.56);*/
    margin-right: 25px;
}

.demo-content {
    /*max-width: 1080px;*/
}

.demo-charts {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.demo-chart:nth-child(1) {
    color: #ACEC00;
}

.demo-chart:nth-child(2) {
    color: #00BBD6;
}

.demo-chart:nth-child(3) {
    color: #BA65C9;
}

.demo-chart:nth-child(4) {
    color: #EF3C79;
}

.demo-graphs {
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */

_:-ms-input-placeholder,
 :root .demo-graphs {
    min-height: 664px;
}

_:-ms-input-placeholder,
 :root .demo-graph {
    max-height: 300px;
}


/* TODO end */

.demo-graph:nth-child(1) {
    color: #00b9d8;
}

.demo-graph:nth-child(2) {
    color: #d9006e;
}

.demo-cards {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.demo-cards .demo-separator {
    height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.demo-cards ul {
    padding: 0;
}

.demo-cards h3 {
    font-size: 1em;
}

.demo-updates .mdl-card__title {
    min-height: 200px;
    background-image: url('images/dog.png');
    background-position: 90% 100%;
    background-repeat: no-repeat;
}

.demo-cards .mdl-card__actions a {
    color: #00BCD4;
    text-decoration: none;
}

.demo-options h3 {
    margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
    margin: 0;
    list-style-type: none;
}

.demo-options li {
    margin: 4px 0;
}

.demo-options .material-icons {
    color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



/*Estilo Menu*/

.material-icons{
	color: #59BA47
}

.material-icons:hover{
	color: white
}

#menu {
    background: #59BA47;
    font-family: 'robotoblack';
    font-weight: 500;
}

/*texto usuario menu y fondo del menu*/
.sidenav{
	background: #3a792e;
	color: white
}

/*Items del menu*/
.sidenav > li > a {
    color: white!important;
}

.sidenav > li > a > i {
    color: white!important;
}

/*texto mensaje al pasar por cerrar sesion*/

.tooltip .tiptext  {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 4px 0;
    position: absolute;
    z-index: 1900000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}

.tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 100%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: black transparent transparent transparent;
}

.tooltip.izquierda .tiptext{
    margin-left: -148px;
    bottom: 10%;
    left: 100%;
}
.tooltip.izquierda .tiptext::after{
    top: 50%;
   left: 100%;
   margin-top: -5px;
   border-width: 6px;
    border-color: transparent transparent transparent black;
}



/*Cuerpo*/
.cls_body{
    background-color: #F0F0F0;
}
.title {
    font-family: 'robotoblack';
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.title span {
    margin-top: 80px;
}



#btnAddFact{
  width: 100%;
  height: 44px;
  padding-top: 4px
}

#txtFechaFact, #textIdfact,
#txtLocalFact, #txtDepartFact,  #txtCiudadFact, 
#txtVendedorFact,  #txtFormaPagoFact,  #txtFormaContadoFact, 
#txtTiempoCreditoFact, #txtProductoDetFact, #txtMonedaFact,
#txtCantidadDetFact, #txtPUnidadDetFact, #txtCodProv, #txtCodProd,
#txtMarcaProd, #txtDescProd, #txtEnvaseProd, #txtPresentProd, #txtUMedidaProd,
#txtCodProv, #txtNomProv, #txtDirProd, #txtTel1Prov, #txtTel2Prov, #txtPaisProv,
#txtEstadoProv, #txtCiudadProv, #txtCodZipProv, #txtEmailProv, #txtSitioWebProv,
#txtNomContProv, #txtCodProvProd, #txtNomProd, #txtCodClte, #txtNomClte,
#txtApellidoClte, #txtSexoClte, #txtNumCedulaClte, #txtEmailClte,#txtTipoClte,
#txtTelClte, #txtCiudadClte, #txtDireccionClte, #txtCelClte, #txtNomLocal,
#txtGiroLcal, #txtZonaLocal, #txtTelLocal, #txtDepaLocal, #txtCiudadLocal,
#txtCiudadLocal, #txtDirLocal, #txtApePer, #txtFNacPer, #txtNacionPer,
#txtSexoPer, #txtNumCedulaPer, #txtEmailPer, #txtTelCasaPer, #txtTelMovilPer,
#txtDepaPer, #txtCiudadPer, #txtDirPer, #txtArea, #txtCargo,.txtNomPer,.txtCliente,
#txtPrivilegios,#txtUsuarioUser,#txtContrasenaUser,#frm_lab_row, #searchRegVentas,
#txtDesdeFact, #txtHastaFact, #searchRegCobro, #txtDesdeCobro, #txtHastaCobro,
#txtFechaCobro,#textIdCobro, #textIdCobro, #txtVendedorCobro,#txtNomPer,
#txtFormaPagoRec, #txtMonedaCobro, #txtTasaCambio, #txtNomBanco, #txtNumCheque,
#txtConcepCobro, #txtObservCobro, #txtNumFactRecibo, #txtMontoRecibidoRec, #searchRegCompra,
#txtDesdeFactCompra, #txtHastaFactCompra, #txtFechaFactCompra, #textIdfactCompra,
#txtFormaPagoFactCompra, #txtTiempoCreditoFactCompra, #txtMonedaFactCompra,
#txtProductoDetFactCompra, #txtCantidadDetFactCompra, #txtPUnidadDetFactCompra,
.txtCodProve, .txtipofactCompra, #txtNomContactProv, #searchRegComRec, #txtDesdeRecComp,
#txtHastaRecComp, #txtFechaRecCom, #textIdCobroRecCom, #txtFormaPagoRecCom, #txtMonedaRecCom,
#txtTasaCambioRecCom, #txtNomBancoRecCom, #txtNumChequeRecCom, #txtConcepRecCom, #txtObservRecCom,
#txtNumFactRecCom, #txtMontoRecibidoRec, #txtipoReciboCompra, #txtNomContaProvRecCom, #txtCantBonifDetFact,
#txtDesdVenFact,#txtHastVenFact, #txtZonaVendedor, #txtNumCircuVehiculo, #txtNumPlacaVehiculo,
#txtNumChasisVehiculo, #txtNumMotorVehiculo, .tipoVehiclo, .carroceriaVehiculo, #txtColorVehiculo,
#txtMarcaVehiculo, #txtModeloVehiculo, #txtAnnoVehiculo, #txtCilindM3Vehiculo, #txtNumCilindVehiculo {
  height: 30px;
  width: 100%;
  border: 1px solid #9e9e9e;
  margin: 0;
  padding-left: 5px;
  text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
  border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 1em;
  font-weight: 400;
  direction: ltr;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  text-align: left;

}


.input-field{
  margin-top: 1px
}

.input-group {
    margin-top: 7px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.input-group-addon {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid #9e9e9e;
  border-radius: 0.25rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-right: none;
}
.dataTables_filter {
    display: none!important;
}

.row {
    width: 100%!important;
}

#textInfoVenta{
font-size: 25px;
font-weight: bolder;
margin-bottom: 15px;
}


table {
    border-collapse: separate !important;
    border-spacing: 1px;
}

.TheadColor thead th {
    color: #1F0A71;
    font-family: 'robotoblack';
    font-size: 12px;
    text-align: center;
}

.TheadColor tbody td {
    color: #1F0A71;
    font-family: 'robotomedium';
    font-size: 12px;
    text-align: center;
}
.RobotoR {
    font-family: 'robotoregular';
}
 thead {
    border: none;
}

 thead {
    font-family: 'robotobold';
    font-size: 11px;
    text-align: center;
    line-height: 20px;
}

 tbody {
    font-family: 'robotoregular';
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
}

table thead tr th {
    text-transform: uppercase;
}
/*striped color*/
table tr:nth-child(even) {
   background-color: #ffffff!important;
}

table tr:nth-child(odd) {
   background-color: #f0f0f0!important;
}
/*encabezado de tabla*/
table th {
    background: black;
    color: #fff;
    font-size: 14px;
    font-family: 'robotobold';
}

#tbl12Meses td {
    width: 300px !important;
}

#tblTransacciones tfoot {
    display: none;
}

#dropTipo select {
    width: 100%;
    height: 30px;
    display: table-cell!important;
    color: black;
    border: 0px solid grey;
    padding: 5px;
}



#_footer {
   position:fixed;
   text-align: center;
   left: 0px;
   bottom:0px;
   height:25px;
   width:100%;
   font-size: 11px;
   background-color: #bdbdbd !important;
   padding: 0px 10px 35px 0px;
   background: #000000;
   opacity: 0.4;
}



/*PANTALLA TABLETS*/



  @media only screen and (min-width: 1024px) {
    
    #nav-tablet {
        display: none;
    }
  }

/*PANTALLA TABLETS*/
@media only screen and (min-width: 1025px) {
        display: none;
        margin-top: 100px; 
        align-content:center;
  }

@media only screen and (max-width: 1024px) {
    #cont-login-1 {
        display: none;
        margin-top: 50px; 
        align-content:center;
        width:100%
    }
   
   
    #img-login-1 {
        width: 100%;
        position: absolute;
        top: 0px!important;
        bottom: 15px!important;
    }

    #Acceder {
        width: 100%!important
    }
  }



.estilo-foto{
  position: relative;
  background-color: black;
  padding: 5px;
  width: 100%;
}

.tituloFoto{
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}


#image_file, #image_file2, #image_file3, #image_file4, #image_file5,#image_file6,#image_file7,#image_file8,#image_file9{
   position: absolute;
   opacity: 0;
  margin: 0;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.uploaded_image, .uploaded_image2, .uploaded_image3, .uploaded_image4, .uploaded_image5,.uploaded_image6,.uploaded_image7,
.uploaded_image8,.uploaded_image9{
  margin-top: 100px;
  position: relative;
  width:100%;
  height: 100%;

}

#PrevImg, #PrevImg2, #PrevImg3, #PrevImg4, #PrevImg5, #PrevImg6, #PrevImg7, #PrevImg8, #PrevImg9{
  position: absolute;
  margin: 0;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height: 100%;
 
}

.separador{
  background: black;
  height: 1px;
}

input.filled-in{
  display: none;
  font-family: 'robotoblack';
  color: black;
}
.spnaCkb{
  padding-left: 25px;
}

ul.ui-autocomplete {
    z-index: 1100;
}





